object Zone "global-templates" {
  global = true
}

object Zone "director-global" {
  global = true
}

{% for host in groups['mon_server'] %}
object Endpoint "{{ hostvars[host]['mon_fqdn'] }}" {
  host = "{{ hostvars[host]['mon_fqdn'] }}"
}
{% endfor %}

object Zone "master" {
    endpoints = [
{% for host in groups['mon_server'] %}
      "{{ hostvars[host]['mon_fqdn'] }}"{% if not loop.last %},
{% endif %}
{% endfor %}
 
    ]
}

object Endpoint "{{ mon_fqdn }}" {
    host = "{{ mon_fqdn }}"
}

object Zone "{{ mon_fqdn }}" {
    endpoints = [ "{{ mon_fqdn }}" ]
    parent = "master"
}
