object Zone "global-templates" {
  global = true
}

object Zone "director-global" {
  global = true
}

{% for host in groups['mon_server'] %}
  {% if hostvars[host]['mon_fqdn'] is defined %}}
object Endpoint "{{ hostvars[host]['mon_fqdn'] }}" {
  host = "{{ hostvars[host]['mon_fqdn'] }}"
}
  {% else %}
object Endpoint "{{ hostvars[host]['ansible_fqdn'] }}" {
  host = "{{ hostvars[host]['ansible_fqdn'] }}"
}
  {% endif %}
{% endfor %}

object Zone "master" {
    endpoints = [
{% for host in groups['mon_server'] %}
      "{% if hostvars[host]['mon_fqdn'] is defined %}{{ hostvars[host]['mon_fqdn'] }}{% else %}{{ hostvars[host]['ansible_fqdn'] }}{% endif %}"{% if not loop.last %},
{% endif %}
{% endfor %}
 
    ]
}

object Endpoint "{{ mon_fqdn }}" {
    host = "{{ mon_fqdn }}"
}

object Zone "{{ mon_fqdn }}" {
    endpoints = [ "{{ mon_fqdn }}" ]
    parent = "master"
}
